/* 
    CUSTOMIZED CSS FOR PERSONAL PORTFOLIO LANDING PAGE
*/
/* HOME BACKGROUND */
.home-bg {  
  background-image: url('/personal-portfolio/public/assets/img/home-bg.PNG');
  background-color: linear-gradient(rgb(255, 136, 0), rgb(2, 73, 114)); /* BG IF IMG IS NOT AVAILABLE */
  background-repeat: no-repeat; /* DISALLOW BGTO REPEAT */
  background-attachment:fixed; /* MAKE SURE THE ELEMENT IS ALWAYS COVERED AND NOT MOVING */
  background-size:cover; /* COVER ENTIRE ELEMENT */
  overflow: hidden;
  filter:blur(3px);
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* HOME PARAGRAPH BODY */
.home-content-body {
  font-size: 30px;  
  /* font-family:'Courier New', Courier, monospace; */
  margin-top: 2rem;
}

.home-content-1 {
  position: absolute;
  top: 30px;
  left: 2rem;
  text-align: left;
  width: auto;
}
.home-content-2 {
  position: absolute;
  top: 40%;
  width: auto;
  left: 45%;
  text-align: center;
  width: auto;
}
.home-content-2 img {
    border-radius: 50%;
}
.home-content-3 {
  position: absolute;
  bottom: 30px;
  /* left: 6rem; */
  right: 30px;
  text-align: right;
}
.home-content-3-body {
  font-size: 20px;
  font-family:'Courier New', Courier, monospace;
  margin-top: 2rem;
}

/* REARRANGE HOME CONTENT */
@media only screen and (max-width:768px) {  
  .home-content-1 {
    position: absolute;
    top: 10px;
    left: 15%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .home-content-2 {
    position: absolute;
    top: 40%;
    left: 25%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .home-content-2 img {
    border-radius: 50%;
    left: 25%;
    width: 80%;
    height: 80%;
  }
  .home-content-3 {
    position: absolute;
    /* bottom: 10px; */
    left: 1rem;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.about-content-info {
  text-align: right;
  color: #fff;
  line-height: 1.5;
}


