/* 
    CUSTOMIZED CSS FOR PERSONAL PORTFOLIO LANDING PAGE
*/
/* HOME BACKGROUND */
.home-bg {  
  background-image: url('/personal-portfolio/public/assets/img/home-bg.PNG');
  background-color: linear-gradient(rgb(255, 136, 0), rgb(2, 73, 114)); /* BG IF IMG IS NOT AVAILABLE */
  background-repeat: no-repeat; /* DISALLOW BGTO REPEAT */
  background-attachment:fixed; /* MAKE SURE THE ELEMENT IS ALWAYS COVERED AND NOT MOVING */
  background-size:cover; /* COVER ENTIRE ELEMENT */
  overflow: hidden;
  filter:blur(3px);
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* HOME BODY */
/* HOME CONTENT 1 */
.home-content-1 {
  position: absolute;
  top: 30px;
  width: 100%;
}

.home-content-1 p {
  text-align: left;
  font-size: 24pt; 
  padding-left: 3rem;
  padding-top: 1.5rem;
}

/* HOME CONTENT 2 */
.home-content-2 {
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
}

.home-content-2 img {
  border-radius: 50%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* HOME CONTENT 3 */
.home-content-3 {
  position: absolute;
  bottom: 30px;
  text-align: right;
  width: 100%;
}

.home-content-3 p {
  font-size: 14pt;
  padding-right: 2.5rem;
  padding-top: 1.5rem;
}

/* REARRANGE HOME CONTENT */
@media only screen and (max-width:768px) {  
  .home-content-1 {
    position: absolute;
    top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .home-content-1 p {
    font-size: 18pt;
    text-align: center;
    padding-left: 0;
  }
  
  .home-content-2 {
    position: absolute;
    top: 38%;
    left: 25%;
    text-align: center;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .home-content-2 img { 
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 80%;
    height: auto;
  }

  .home-content-3 {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .home-content-3 p {
    font-size: 12pt;
    text-align: center;
  }

}

.about-content-info {
  text-align: right;
  color: #fff;
  line-height: 1.5;
}


